{% extends 'base.html' %} {% block title %} 关于我们 {% endblock %} {% block main %}
<div class="user-infocont" style="height: 850px;width: 1007px;">
  <div id="nav_stack">
    <ul>
      <li><img src="/static/img/contact/contact.png" width="15px;" />
        <a href="/Accounts/abouts_us/">关于我们</a>
      </li>
      <li><img src="/static/img/contact/contact.png" width="15px;" />
        <a href="/Store/contact_us/">联系我们</a>
      </li>
      <li><img src="/static/img/contact/contact.png" width="15px;" />
        <a href="/Store/defined_law/">法律声明</a>
      </li>
      <li><img src="/static/img/contact/contact.png" width="15px;" />
        <a href="/Store/service_list/">服务协议</a>
      </li>
    </ul>
  </div>
  <div class="about_us_content">
    <div id="banner">
      <img src="/static/img/about_us/banner.gif" alt="我要加盟">
    </div>
    <div id="us-info">
      <p id="para_1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;爱定网-中国最专业的定制平台！ 爱定网是一家专业的网络定制平台，为全国有定制需求的个人、企业服务，爱定网在创立之初就致力打造快速定制、平价定制、独一无二定制、个性定制而努力。</p>
      <p id="para_2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;爱定网免费为您提供工装定制、高级定制、私人定制等定制商品，万家服装定制公司免费供您选择，足不出户、价廉物美、方便快捷！爱定网以有定制需求的公司以及个人和定制商家创造价值为第一责任！通过这个平台，有定制需求的公司以及个人可以尽快找到适合自己的定制商品，且实惠、高效。同时，让定制公司在这个舞台上也能够尽情展现自己风采，服务更多的有定制需求的公司以及个人！</p>
      <p id="para_3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;爱定网（www.aidingwang.com）同时也是有定制需求个人、定制公司、面料公司、设计人员等相关市场上各种角色的一个梦想舞台。在这个舞台上，您可以以您自己独有的角色，来出演一场只属于您自己的大型的奋斗人生话剧。</p>
      <p id="para_4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;爱定网（www.aidingwang.com）不仅是中国深受欢迎的网络定制平台，也是中国的消费者交流和全球创意商品的聚集地。爱定网在很大程度上改变了传统的定制方式，也改变了人们的生活消费方式。不做冤大头、崇尚时尚和个性、开放擅于交流的心态以及理性的思维，成为爱定网上崛起的“捡宝一代”的重要特征。爱定网多样化的消费体验，让捡一代们乐在其中：团设计、玩定制、赶时髦、爱传统。</p>
      <p id="para_5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;至此，我们竭诚欢迎广大定制公司前来合作。所有合作的商家，可以在爱定网（www.aidingwang.com）上免费进行网站的相关的推广和宣传。因为，您的成功始终是我们努力的方向。爱定网愿与您携手并肩共同推进中国定制行业的网络化发展。</p>
    </div>
  </div>
</div>
{% endblock %}
