{% extends 'base.html' %}


{% block title %}
    联系我们
{% endblock %}

{% block main %}
    <div class="user-infocont">
    <div id="nav_stack">
        <ul>
            <li><img src="/static/img/contact/contact.png" width="15px;"/>
                <a href="/Accounts/abouts_us/">关于我们</a>
            </li>
            <li><img src="/static/img/contact/contact.png" width="15px;"/>
                <a href="/Store/contact_us/">联系我们</a>
            </li>
            <li><img src="/static/img/contact/contact.png" width="15px;"/>
                <a href="/Store/defined_law/">法律声明</a>
            </li>
            <li><img src="/static/img/contact/contact.png" width="15px;"/>
                <a href="/Store/service_list/">服务协议</a>
            </li>
        </ul>
    </div>
    <div id="info" class="lxwm-info">
        <p id="advice">若您有任何问题或者建议，请随时联系我们。</p>
        <p id="verify">新注册会员我们会在24小时内进行核实工作。（周六日或其它公众假期，审核时间将适当延长）</p>
        <p id="tel_consult">全国服务咨询电话：028-84340607</p>
        <p id="work_time">工作时间（周一至周五 ；9：00—18:00）</p>
        <p id="company_name">公司名称：成都市高新区府城大道西段399号8栋9号</p>
        <p id="switchboard">总机：028-84340607</p>
        <p id="mail">邮箱：hezuo@aidingwang.com</p>
        <p id="address">地址：成华区驷马桥荆竹坝东街333号</p>
        <p id="corporation">欢迎广大服装定制行业以及相关行业网站或者商家提出合作建议，我们会尽快给予回复。</p>
        <p id="cor_mail">hezuo@aidingwang.com（合作建议请发此信箱）</p>
    </div>
</div>

{% endblock %}