{% extends 'base.html' %}
{% block title %}
    定制流程
{% endblock %}
{% block main %}

    <div id="nav2">
        <ul>
            <li id="fzdz"><a href="/Garments/women_clothes/" target="_blank">服装定制</a></li>
            <li id="gzdz"><a href="/Working_clothes/show_Actor_clothes/" target="_blank">工装定制</a></li>
            <li id="psdz"><a href="/Accessories/show_Ornaments/" target="_blank">配饰定制</a></li>
            <li id="jpdz"><a href="/Exquisite_baubles/show_creative/" target="_blank">精品定制</a></li>
        </ul>
    </div>
    <div class="time-line">
        <section id="cd-timeline" class="cd-container">
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <img src="">
                </div>

                <div class="cd-timeline-content">
                    <h2>注册/登录</h2>
                    <p></p>
                </div>
            </div>
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                    <img src="">
                </div>

                <div class="cd-timeline-content">
                    <h2>店铺认证</h2>
                    <p></p>
                </div>
            </div>
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <img src="">
                </div>

                <div class="cd-timeline-content">
                    <h2>上传商品</h2>
                    <p></p>
                </div>
            </div>
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                    <img src="">
                </div>

                <div class="cd-timeline-content">
                    <h2>等待审核</h2>
                    <p></p>
                </div>
            </div>
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                    <img src="">
                </div>

                <div class="cd-timeline-content">
                    <h2>商品上架</h2>
                    <p></p>
                </div>
            </div>
        </section>
    </div>


    <!-- 页面底部开始 -->

    {% include 'footer.html' %}


{% endblock %}