{% extends 'base.html' %}
{% block title %}
   法律声明
{% endblock %}


{% block main %}
			  <!-- 页面内容开始 -->
        <div class="user-infocont">
        <div id="nav_stack">
        <ul>
            <li><img src="/static/img/contact/contact.png" width="15px;"/>
                <a href="/Accounts/abouts_us/">关于我们</a>
            </li>
            <li><img src="/static/img/contact/contact.png" width="15px;"/>
                <a href="/Store/contact_us/">联系我们</a>
            </li>
            <li><img src="/static/img/contact/contact.png" width="15px;"/>
                <a href="/Store/defined_law/">法律声明</a>
            </li>
            <li><img src="/static/img/contact/contact.png" width="15px;"/>
                <a href="/Store/service_list/">服务协议</a>
            </li>
        </ul>
    </div>
            <div id="info" class="flsm-info">
				<p>爱定网（www.aidingwang.com）网站法律声明：</p>
				<div id="legal_notices">

					<p id="para_1">
						1、除爱定网已明确注明的服务条款外，任何因通过本站或与本站链接到其他网站、网页而导致的意外，(如：感染电脑病毒、涉及版权或其他知识产权纠纷及其他不良信息造成的损失）爱定网不承担任何责任。特别指出的是：本站提供的信息服务内容全部按照"出处或作者原样"提供，绝无附带任何形式的明示或暗示保证，在任何情况下对于因使用这些信息资料或无法使用这些信息资料而导致的任何损失或涉及到的其他纠纷，爱定网和本站的其他信息提供者均无须承担法律责任。
					</p>
					<p id="para_2">
						2、爱定网所提供的所有信息资料是按当时的市场客观现状提供，在上传前已尽谨慎义务。如有任何资料调整或变更本站无须另行通知，本站所提供的信息资料仅供参考，我们不作任何承诺保证。
					</p>
					<p id="para_3">
						3、爱定网一向尊重他人的知识产权，本站所发布的文字报道、图片、图表、标志、标识、广告等信息的版权属本站所有，如有需要链接、转载或其它方式调用者，请注明摘自"爱定网"或相关字样。本站的数据资源、程序、版面设计、功能与商务模式全部由爱定网独立开发完成，拥有自主知识产权，其版权归爱定网所有。任何单位和个人不得仿冒或抄袭！
					</p>
					<p id="para_4">
						4、爱定网十分尊重原创作者及相关网站的利益，为了保护创作者及相关网站的权益，在使用相关网站信息或作者原创文章、图片等信息时，本站仅作为网络内容提供并明确标明出处或原创作者，绝不带有任何商业用途！如对稿件内容有疑议，敬请通知本站，我们将第一时间处理。
					</p>
					<p id="para_5">
						5、爱定网未注明稿件来源："爱定网"的文/图等稿件均为转载稿，本网转载出于传递更多信息之目的，并不意味着赞同其观点或证实其内容的真实性。如其它媒体、网站或个人从本网下载使用，必须保留本网注明的"稿件来源"，并自负版权等法律责任。如擅自篡改为稿件来源："爱定网"，本网将依法追究责任。如对稿件内容有疑议，请及时与我们联系。 以上声明之解释权归本网站所有，法律上有相关解释的，以中国法律为基准，如有争议限在我方所在地司法部门解决。
					</p>
				</div>
			</div>
         </div>
            		  <!-- 页面内容结束 -->
		</div>
{% endblock %}