{% extends 'base.html' %}

{% block title %}
    审核页面
{% endblock %}

{% block main %}

    <div id="gcspsp-ts">
        <div class="ts-1"><span class="success-icon">✓</span> <span>商品上传成功</span></div>
        <div class="ts-2">我们的工作人员会尽快审核您所发布的商品。</div>
        <div class="ts-btn">
            <a href="/catalog/send_goods">
                <button class="jxsc-btn">继续上传</button>
            </a>
            <a href="/">
                <button class="hdzy-btn">回到主页</button>
            </a>
        </div>
    </div>

{% endblock %}